<extend name="public/base"/>
<block name="content">
    <form class="layui-form" >
        <div class="layui-form-item">
            <label class="layui-form-label">单选框</label>
            <div class="layui-input-block">
                <input type="radio" name="type" value="0" title="广播" checked>
                <input type="radio" name="type" value="1" title="推送">
            </div>
        </div>
        
        <div class="layui-form-item layui-form-text">
            <label class="layui-form-label">推送内容</label>
            <div class="layui-input-block">
                <textarea name="content" placeholder="请输入内容" class="layui-textarea"></textarea>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn layui-btn-sm" lay-submit lay-filter="formDemo" id="sub">立即提交</button>
                <button type="reset" class="layui-btn layui-btn-sm layui-btn-primary">重置</button>
            </div>
        </div>
    </form>
</block>
<block name="script">

    <script>
        $(document).ready(function(){
            $("form").submit(function(e){
                e.preventDefault();
                $.ajax({
                    data:$(this).serialize(),
                    type:'POST',
                    url:'./push',
                    async: true,
                    success:function (result) {
                       if (result){
                         $('#sub').html('<button class="layui-btn layui-btn-sm" lay-submit lay-filter="formDemo" id="sub">提交成功</button>');
                       }
                    }
                })
            });
        });

</script>

</block>


